.profil {
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.button-wrapper {
  display: flex;
  justify-content: center; /* tengah horizontal */
  margin: 20px 0;
}

.btn {
    display: inline-block;
     padding: 12px 20px;
     background-color: #33444b;
     color: white;
     text-decoration: none;
     border-radius: 20px;
     font-weight: bold;
}


.btn:hover {
  background-color: #000000e9;
}

.center-text1{
    text-align: center;
    margin-bottom: 10px;
}

.center-text2{
  text-align: center;
  margin-top: 0px;
}


.foto-profil {
  max-width: 300px;
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
  flex: 1;
  display: flex;
  justify-content: center;
  filter: grayscale(100%);
  transition: filter 0.4s ease;
}

.foto-profil:hover{
  filter: grayscale(0%);
}

@keyframes slideFromRight {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideFromRight 0.5s ease-out forwards;
}

.semua {
  display: flex;
  align-items: center;      /* tengah vertikal */
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 40px;
}

.icon {
  width: 40px;   /* ukuran icon */
  height: auto;  /* jaga proporsi */
}

.contact-icons {
  display: flex;
  gap: 20px;              /* jarak antar logo */
  align-items: center;
  margin-top: 20px;
}